ALLOWED_ORIGINS=["http://localhost:3000"]
SECRET_KEY=
# in minutes
ACCESS_TOKEN_EXPIRY=5 
# in minutes
REFRESH_TOKEN_EXPIRY=20 

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=db

REDIS_URL=redis://localhost:6379/2

B2_APP_KEY_ID=
B2_APP_KEY=
B2_BUCKET_NAME=

RESEND_API_KEY=
RESEND_EMAIL=

FRONTEND_URL=